
<!DOCTYPE html>
<html>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PicIt</title>
	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
				 <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Grenze+Gotisch:wght@900&family=Merriweather+Sans:ital@1&family=Secular+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
		        <script src="https://kit.fontawesome.com/8337bf64cd.js"></script>
    </head>
	
<style>
	
	.nav-item{
		font-family: 'Merriweather Sans', sans-serif;
	}
	

.error-flash{
	border:2px solid red;
	border-radius:15px;
	color:red;
	padding:10px;
	margin-bottom:10px;
	width:100%;
	font-weight:bold;
}



.success-flash{
	border:1px solid green;
	color:green;
	border-radius:15px;
	padding:10px;
	width:100%;
	margin-bottom:10px;
	font-weight:bold;
}

	
	</style>
	
    <body>


		
		

		
		
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<div class="container">

  <a class="navbar-brand" href="/" style="letter-spacing:0.6rem;font-family: 'Acme', sans-serif"><i class="fab fa-algolia"></i>PicIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		            <li class="nav-item <%= typeof page !== 'undefined' && page === 'pictures' ? 'active' : '' %>"><a style="color:white" class="nav-link" href="/pictures">Home</a></li>



    </ul>
	  
	  
	            <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a style="color:white" class="nav-link" href="/login">Login</a></li>
                  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a style="color:white" class="nav-link" href="/register">Sign Up</a></li>
              <% } else { %>
                  <li class="nav-item"><a style="color:floralwhite" class="nav-link disabled" href="#">Signed In As <%= currentUser.username %></a></li>
                  <li class="nav-item"><a style="color:white" class="nav-link" href="/logout">Logout</a></li>
              <% } %>
          </ul>


	  
  </div>
		
			
		</div>		
</nav>	
		
		
		<div style="margin-top:100px">
			
		</div>
		

		<div class="container mt-3">
			<% if(error && error.length>0) { %>
   <div class="error-flash text-center">
	      <%=error %>   
		</div>
			 <% }  %>
			
			<% if(success && success.length>0) { %>
	<div class="success-flash text-center">
	      <%=success %>   
		</div>
    			
			<% } %>
		</div>
		
		<div class="container">
			
		   
    