<%- include("../partials/header") %>

<div class="ui main text container segment" style="width:40%">
	
	
    <div class="ui huge header text-center">
		<h1>Edit Comment</h1>	
	</div>
	
            <form  class="ui form" action="/pictures/<%= picture_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <div class="field">
					<label>TEXT</label>
                    <input type="text" name="comment[text]" value="<%=comment.text%>">
                </div>

                <div class="field">
                    <button class="ui basic button black float-right">Submit!</button>
					    <a class="ui basic button black" href="/pictures/<%= picture_id %>">Go Back</a>
                </div>
            </form>
        

</div>
<%- include("../partials/footer") %>
