<%- include("../partials/header") %>

<div class="ui main text container segment" style="width:40%">
	

    <div class="ui huge header text-center">
		<h1>Add New Comment to <%= picture.name %></h1>	
	</div>
		


            <form  class="ui form" action="/pictures/<%= picture._id %>/comments" method="POST">
                <div class="field">
					<label>TEXT</label>
                    <input type="text" name="comment[text]" placeholder="text">
                </div>

                <div class="field">
                    <button class="ui basic button black float-right">Submit!</button>
					 <a class="ui basic button black" href="/pictures/<%= picture._id %>">Go Back</a>
                </div>
            </form>
           

</div>
<%- include("../partials/footer") %>
